body {
    background-image: url('limon.avif');
    background-size: cover;
    background-repeat: no-repeat;
}

.App {
    background-color: #7dce1381;
    min-height: 90vh;
    width: 500px;
    margin: 30px auto;
}

.crossed {
    text-decoration: line-through 2px red;
    
}

img {
    border-radius: 50%;
}

input {
    flex:1;
    padding: 8px;
    margin: 10px;
    font-family: 'Lato', sans-serif;
}

ul, li {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

input {
    size: 20px;
}

h1 {
    font-family: 'Lato', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
}

.containerOne {
    margin-left: 35px;
}

.containerTwo {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

.btn-add {
    background-color: #EAE509;
    margin-top: 5px;
    padding: 10px;
    border: none;
    width: 70%;
    color: black;
    font-size: 16px;
}

.btn-delete {
    background-color: #2B7A0B;
    margin-bottom: 5px;
    padding: 10px;
    border: none;
    width: 70%;
    color: black;
    font-size: 16px;
}

.btn {
    padding: 10px;
    border: none;
    width: 70%;
    color: black;
    font-size: 16px;
    
}
